<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 加载Hibernate.cfg.xm文件,property中name固定，value固定 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<!-- 事务 -->
	<!-- 首先，平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 注解方式管理事务,开启事务的注解,不要忘记在业务层加@Transactional标签 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--配置客户模块 -->
	<!-- 单例模式 -->
	<!-- <bean id="customerService" class="com.test.service.CustomerServiceImpl"></bean> -->
	
	
	<!-- 配置action ,必须为多例(action调用service，必须注入，ref值为私有属性的名称)-->
	<bean id="customerAction" class="com.test.web.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"></property>
	</bean>
	
	<bean id="customerService" class="com.test.service.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"/>
	</bean>
	
	<!-- 注入sessionFactory,获取HibernateTemplate -->
	<bean id="customerDao" class="com.test.dao.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate"></bean> -->
	
</beans>












